/* DEFINIÇÕES */

* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
}

.bg-blue {
  background: #6397FF;
}

.font-white {
  color: white;
}

h1 {
  text-align: center;
}

.center {
  margin: 30px 0 0 0;
  text-align: center;
  font-size: 20px;
}

.position-relative {
    overflow: inherit !important;
    position: absolute;
    top: 7vh;
    left: 7vw;
    z-index: 100;
}

p a {
  color: white !important;
}

a:hover {
  color: black !important;
}

div h3 {
  font-size: 16px;
  font-weight: 900;
}

div p {
  font-size: 12px;
}

    /* DEFINIÇÕES DE IMAGEM */

.circle2, .circle3 {
  border-radius: 5px;  
}

.circle {
  background-color: white;
  width: 45px;
  height: 45px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.notice-circle {
  border: white solid;
  border-radius: 7.5px;
}

.circle img {
  border: white solid;
  border-radius: 7px;
}

.circle2 {
  margin: 0 !important;
  background-color: #ced9e4;
}

.circle3 {
  background-color: #6397FF;
}

.circle img, .circle2 img {
  width: 100%;
}

.img {
  background: white;
  border: white solid;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}
/* BOXs */


.box-search, .box-top, .box-profile {
  border: #6397FF solid;
  border-radius: 10px;
  margin: 20px;
  padding: 10px 0;
  background: #6397FF;
}

.box-search h1, .box-search p, .box-top h1 {
  padding: 5px;
  margin: 10px 0 0 20px;
  text-align: left;
}

/* FORMATAÇÃO DOS ELEMENTOS DAS CAIXAS */

.p-box, .p-box a {
  padding: 5px;
  margin: 10px 0 0 20px;
  color: white !important;
  text-align: left;
}

/* PROFILE */

.box-profile {
  margin-top: 0 !important;
}

.box-profile {
  display: inline-block;
  width: 100%;
}

.img-profile {
  width: 250px;
  height: 250px;
}

.btn-drop {
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* SEARCH */

.input-search {
  margin: 10px 0 0 20px;
  padding: 5px;
  border: #6397FF solid;
  border-radius: 10px;
  width: 50%;
}

.box-search p {
  font-size: 20px;
  padding-bottom: 10px;
}

.button-search {
  color: white;
  padding: 5px;
  border: white solid;
  border-radius: 10px;
  background: #6397FF;
}

.button {
  border: #f8f9fa solid;
  border-radius: 5px;
  margin: 20px;
  padding: 10px 0;
  width: 10%;
  background: #ced9e4;
}

.input {
  border: black solid;
  border-radius: 5px;
  margin: 20px;
  padding: 10px 5px;
  width: 50%;
  background: #ced9e4;
}

/* TOP */

.box-top img {
  margin: 10px 0 !important;
}

/* POSTS */

.post {
  display: inline-block;
}

.post h4 {
  text-align: center;
  font-size: 20px;
}

.post-main {
  margin: 0 19% 0 0;
  width: 50%;
}

.post-informations {
  color: white;
  width: 30%;
  background: #6397FF;
  padding: 10px;
  border: #6397FF solid;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.76);
}

.coluna-posts div {
  margin: 10px;
  display: inline-block;
}

/* CONTAINERS */

.container {
  width: 70%;
}

.container2 {
  width: 100%;
}

.container-3 {
  margin: auto;
}

.container-post {
  display: inline-block;
  vertical-align: top;
}

.admin-post h5, .container-post h4, .users h4 {
  margin: 10px 0;
  text-align: center;
  color: #6397FF;
}

.admin-post h5, .container-post h5, .users h5 {
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
}

.admin-post h5, .container-post h6, .users h6 {
  margin: 10px 0;
  font-size: 16px;
  text-align: center;
  color: #6397FF;
}