{% extends 'base.html' %} 

{% block content %}
    <div class="my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg bg-blue">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1 text-white text-left" style="text-align: left;">Earthpedia, a enciclopédia gratuita</h1>
                <p class="lead text-white">Temos o total de {{ numero_de_posts }} artigos.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3" align="center">
                    <form class="d-flex" action="/search" method="POST">
                        <input class="form-control" name="search" type="search" placeholder="Pesquisar..." aria-label="Pesquisar">&nbsp;&nbsp;&nbsp;  
                        <button class="button-search" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden position-relative img-responsive">
                <img class="rounded-lg-3" src="https://cdn.earthpedia.com.br/imgs/as9djd32a9s88dj-2.png" alt="" width="400vh">
            </div>
        </div>
    </div>
    <hr />
    <div class="my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3">
            <div class="p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1" style="text-align: left;">Artigos para você</h1><br />
                <div align="center">
                    {% for post in posts_sort %}
                    <div align="center" class="post">
                        <div class="align-items-center">
                            <img class="img" src="{{ post['images'] }}" width="100vh">
                        </div>
                        <h4 style="text-align: center;"><a href="{{ url_for('post', post_name=post['title']) }}">{{ post['title'] }}</a></h4>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <hr />
       <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3">
            <div class="p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1" style="text-align: left;">Notícias da semana</h1><br />
            </div>
       </div>
    <div id="carouselExampleInterval" class="carousel slide shadow-lg" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="https://cdn.earthpedia.com.br/notices/notice-maurilio-1.png" class="d-block w-100 notice-circle" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="https://cdn.earthpedia.com.br/imgs/maurilio_morre.png" class="d-block w-100 notice-circle" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="https://cdn.earthpedia.com.br/imgs/maurilio_morre.png" class="d-block w-100 notice-circle" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endblock %}