{% extends 'base.html' %}

{% block content %}
    <br /><br />
    <h1>{% block title %} Todos os artigos {% endblock %}</h1>
    <br /><br />
    <div align="center">
        Ao todo temos {{ numero_de_posts }} artigos criados.
    </div>
    <hr />
    <div align="center" class="coluna-posts">
      <div>
        <h2> A </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "a"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> B </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "b"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> C </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "c"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> D </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "d"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> E </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "e"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> F </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "f"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> G </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "g"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> H </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "h"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> I </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "i"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> J </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "j"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> K </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "k"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> L </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "l"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> M </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "m"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> N </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "n"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> O </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "o"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> P </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "p"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> Q </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "q"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> R </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "r"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> S </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "s"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> T </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "t"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> U </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "u"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> V </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "v"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> W </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "w"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> X </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "x"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> Y </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "y"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
      </div>
      <div>
        <h2> Z </h2>
        {% for post in posts %}
            {% if post['title'][0].lower() == "z"  %}
                  <a href="{{ url_for('post', post_id=post['id']) }}">
                    {{ post['title'] }}
                  </a><br />
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
