{% extends 'base.html' %}

{% block content %}
    <br /><br />
    <h1>{% block title %} Todos os artigos {% endblock %}</h1>
    <br /><br />
    <div align="center">
        Ao todo temos {{ numero_de_posts }} artigos criados.
    </div>
    <div class="coluna-posts row">
        <div class="d-flex justify-content-center flex-wrap" align="center">
            {% for letra in number_list %}
                    <div class="col-2">
                        <h2> {{number_list[letra].upper()}} </h2>
                        {% for post in posts %}
                            {% if post['title'][0].lower() == number_list[letra]  %}
                                    <a href="{{ url_for('post', post_name=post['title']) }}">
                                    {{ post['title'] }}
                                    </a><br />
                            {% endif %}
                        {% endfor %}
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}