{% extends 'base-adm.html' %}

{% block content %}
    <br /><br />
    <h1>{% block title %} Seja bem-vindo(a) {% endblock %}</h1>
    <br /><br />
    {% for post in posts %}
        <div align="center">
            <iframe src="https://earthpedia.com.br/{{ post['title'] }}#name" frameborder="0" width="1000vw" height="800vh" class="shadow-lg"></iframe>
        </div>
        <br /><br />
        <div align="center">
            <a href="{{ url_for('edit', post_name=post['title']) }}">
            <span class="badge bg-dark">Editar</span>
            </a>
        </div>
        <hr>
    {% endfor %}
{% endblock %}